[submodule "third_party/cvw"]
	path = third_party/cvw
	url = https://github.com/vedvyas5/cvw.git
[submodule "third_party/riscv-formal"]
	path = third_party/riscv-formal
	url = https://github.com/Saipranavvk/riscv-formal
[submodule "third_party/FreeRTOS-Kernel"]
	path = third_party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
